button.btn {
    border-radius: 10px;
    background-color: #999;
    padding: 8px 30px;
    margin: 5px;
}

button.btn.yes {
    background-color: #0f0;
}

button.btn.no {
    background-color: #f00;
}