@import '../../styles/global.scss';

.data-builder {
    display: flex;

    .search-results {
        .searchmatch {
            font-weight: bold;
        }
    }

    .new-item {
        form {
            margin-bottom: 10px;
        }
    }

    .reviewer {
        .review-item {
            margin-bottom: 5px;

            .property {
                display: inline-block;
                margin-right: 4px;
                font-weight: bold;
                width: 100px;
            }
    
            .data {
                vertical-align: top;
                display: inline-block;
            }
        }
    }

    .reviewer-approval {
        span {
            margin-top: 20px;
            display: block;
            font-weight: bold;
            font-style: italic;
        }

        button {
            display: inline-block;
        }
    }
}